
/* comon */
*{
    /* viet tat kieu Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    
}

.commom_css{
    margin: auto;
    width: 1000px;
    /* height: 100; */
    flex: 1;
    height: 522px;

}
.header_common{
    margin-top: 20px;
    text-align: center;
}

.content_common{
    flex: 1;
    height: 100%;
    background-color: #ccc;
}
.btn_css{
    width: fit-content;
    padding: 0.5em 1em;
    text-align: center;
    float: inherit;
    margin: 0em auto;
    color: black;
    background: #fff;
    border-radius:5px;
}
.btn_css:hover{
    cursor:pointer;
    color: white;
    background-color: rgb(89, 97, 91);
}

/* begin css header  */

.js_homePage{
    background-color: #ccc;
}

.main{
    top: 0;
    height: 100vh; 
    width: 100%;
    /* display: none; */
}

.header{
    background-color: rgb(41, 37, 37);
    height:46px;
    display: flex;
    color: white;
    line-height: 46px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}


.header_title{
    margin: 0 10px;
    font-size:20px;
    display: flex;
}




.header_forUser{
    display: flex;
    
}

.header_forUser a{
    text-decoration: none;
    color:white;
    margin: 0px;
    padding: 0 15px;
}

.header_forUser a:hover{
    background-color:#ccc;
    color: black;
}
/* begin css header  */


/* begin css for content */

.infor,.myWallet,.buyTicket,.myhistory,.instruction{
    display:none;
}


.content{
    
    display: flex;
    background-color: #ccc;
    position: relative;
    top: 46px;
    height:  calc(100%-46px);
    /* height:579px; */
    bottom: 0;
    
    
}


.sidebar{
    margin-left: 10px;
    background-color: #f1f1f1;
    width:10%;
    /* height: 100vh; */

    /* height: 579px; */
    /* display: none; */
}

.sidebar_user{
    
    display: flex;
    height: 120px;
    background-color: rgb(152 144 144);
 
}
.boder{
    margin: auto;
}


.circle {
    fill: #456BD9;
    stroke: #0F1C3F;
    stroke-width: 0.1875em;
  }

.sidebar_option_list div{
    padding: 10px 0;
    line-height: 40px;
    font-size:14px;
    text-align: center;
    
}

.sidebar_option_list div:hover{
    background-color: #ccc;
    cursor: pointer;
}


/* begin buyticket */
.buyTicket{
    flex: 1;
    background-color: #ccc;
    
}

.buyTicket_border{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.buyTicket_option{
    margin: auto;
    width: 308px;
    height: 400px;
    background-color: #f1f1f1;

    text-align:center
}

.buyTicket_option:hover{
    box-shadow: inset 0.8px 1px;
}
.option_img{
    margin: 15px 0;
    display: inline-block;
    height:200px;
}
.option_title,.option_price{
    text-align: center;
}

.option_title,.option_price,.option1_btn{
    margin: 15px 0;
}
/* buy ticket option1 */
.buyTicket_options{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    display: none;
    justify-content: center;
    /* border-radius: 5px; */
}
.buyticket_option_border{
    background: #fff;
    width: 400px;
    max-width: calc(100% - 32px);
    min-height: 400px;
    position: relative;
}
.buyticket_option_header{
    background-color:  rgb(41, 37, 37);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color: white;
}
.buyticket_option_close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding:16px;
    cursor: pointer;
    opacity: 0.9;

}
.buyticket_content{
    margin: 15px 50px;
    font-size:16px;
    line-height:43px;

}
.cf_buyTicket_border{
    text-align: center;
}
.cf_buy{
    display: inline-block;

}

/* end buyticket option1 */




/* end buyTicket */

/* begin instruction */




.instruction_border{
    display: flex;
    justify-content: center;
    margin: auto;

}

.instruction1{
    font-size:20px;
    margin: 50px 0;
    display: flex;
}
.ti-check-box{
    margin: 0 15px;
}
.instruction_list{
    list-style: none;
}


/* begin information  */

.infor_list{
   margin: 0 200px;
   padding: 15px 190px;
    list-style: none;
    background-color:#f1f1f1;
    
}
.infor_list_content{
    margin: 20px auto;
}
.list_label{
    font-weight: bold;
}
/* update_Infor */
.update_infor{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    display: none;
    justify-content: center;
}
.updata_infor_border{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}
.UpdateInfor_close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding:16px;
    cursor: pointer;
    opacity: 0.9;
}
.update_infor-body{
    padding: 16px;

}
.update_infor-header{
    background:  rgb(41, 37, 37);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color: #fff;
}
.update_infor-label{
    display: block;

}
.update_infor-input{
    border: 1px solid #ccc;
    width:100%;
    padding:10px;
    font-size:15px;
    margin-bottom: 24px;
}
.ti-arrow-circle-right{
    margin-right: 10px;
}
/* map */
#map {
    /* position: relative; */
    /* height: 579px; */
    height: 100vh;

    width: 100%;
    /* padding: 5px 0; */
}

.homePage_border{
    margin: auto;
    width: 1000px;
    /* width: 100%; */
    /* height: 579px; */
    height: 100%;


}
.homePage_search{
    position: absolute;
    background-color: white;
    height: 43px;
    width: 566px;
    top: 15px;
    right: 303px;
    display: flex;
}
.homepage_inputSearch{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    
}
.homePage_iconSerach{
    text-align: center;
    background-color: #ccc;
    line-height:43px;
    width: 50px;
}
.homePage_iconSerach:hover{
    cursor: pointer;
}
.ti-search{
    display: inline-block;
}

/* end css for content */

/* begin css for footer */

.footer{
    padding-top: 5px;
    height:46px;
    background-color: black;
    width: 100%;
    bottom: 0;
    position: absolute;
}

/* end css for footer */

/* 
.content{
    height: 100vh; 
    width: 100px;
    background-color: #ccc;


} */