<html>

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="./assset/img/img-buyTicket.webp">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeShare</title>
    <link rel="stylesheet" href="./assset/style/style.css">
    <link rel="stylesheet" href="./css/history.css" />
    <link rel="stylesheet" href="./assset/font/themify-icons/themify-icons.css" class="">
</head>

<body>
    <script src="./js/main.js"></script>
    <div class="main">

        <header class="header">

            <div class="header_title">
                BIKESHARE
                <div class="menu_in_header" onclick="changeSidebar()">
                    <i class="ti-menu-alt"></i>
                </div>
            </div>

            <div class="header_forUser">
                <button onclick="logoutFunc()">Đăng xuất</button>
                <!-- <a href="" class="user"><i class="ti-user"></i></a> -->
            </div>

        </header>
        

        <!--begin content-->
        <div class="content">

            <div class="sidebar open">
                
               <div class="sidebar_user">
                  <div class="boder">
                        <svg  viewBox="0 0 80 80" width="80" height="80">
                            <circle class="circle" cx="40" cy="40" r="38"/>
                            
                        </svg>
                        <p class="UserName">UserName</p>
                    </div>
                    
               </div>
               
               <div class="sidebar_option_list">
                   <div class="sidebar_option js_homePage"><a href="./homepage">Trang chủ</a></div>
                   <div class="sidebar_option js_infor"><a href="./info">Thông tin cá nhân</a></div>
                   <div class="sidebar_option js_myWallet"><a href="./wallet">Ví của tôi</a></div>
                   <div class="sidebar_option js_buyTicket"><a href="./ticket">Mua vé</a></div>
                   <div class="sidebar_option js_history"><a href="./history">Chuyến đi của tôi</a></div>
                   <div class="sidebar_option js_instruction"><a href="./instruction">Hướng dẫn sử dụng</a></div>
                </div>
                
            </div>

            <!--begin history-->
            <div class="content_common myhistory">
                <div class="header_common">Lịch sử đường đi</div>
                <table id="customers">
                    <tr>
                        <th>statusbikeID</th>
                        <th>statuslock</th>
                        <th>longtitude</th>
                        <th>latitude</th>
                    </tr>
                    <% for(var i=0; i < history.length; i++) { %>
                        <tr>
                          <td><%= history[i].statusbikeID %></td>
                          <td><%= history[i].statuslock %></td>
                          <td><%= history[i].longtitude %></td>
                          <td><%= history[i].latitude %></td>
                        </tr>
                     <% } %>
                </table>
            </div>
            <!--end  history-->
 
        </div>
    </div>

    

</body>
</html>
