<html>

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BikeShare</title>
    <link rel="icon" type="image/x-icon" href="./assset/img/img-buyTicket.webp">
    <link rel="stylesheet" href="./assset/themify-icons/themify-icons.css" class="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assset/style/style.css">
    

</head>

<body>

    <div class="main">

        <header class="header">

            <div class="header_title">
                BIKESHARE
            </div>

            <div class="header_forUser">
                <button onclick="logoutFunc()">Đăng xuất</button>
                <!-- <a href="" class="user"><i class="ti-user"></i></a> -->
            </div>

        </header>
        

        <!--begin content-->
        <div class="content">

            <div class="sidebar">
                
                <div class="sidebar_user">
                   <div class="boder">
                         <svg  viewBox="0 0 80 80" width="80" height="80">
                             <circle class="circle" cx="40" cy="40" r="38"/>
                             
                         </svg>
                         <p class="sidebar_UserName"></p>
                     </div>
                     
                </div>
                
                <div class="sidebar_option_list">
                 <div class="sidebar_option" onclick="changeContent('homePage', this)">
                     <i class="ti-home sidebar_icon"></i>
                     Trang chủ
                     </div>
 
                    <div class="sidebar_option" onclick="changeContent('infor', this)">
                     <i class="ti-user sidebar_icon"></i>
                     Thông tin cá nhân
                     </div>
                     
                    <div class="sidebar_option" onclick="changeContent('myWallet', this)">
                     <i class="ti-wallet sidebar_icon"></i>
                     Ví của tôi
                     </div>
                    <div class="sidebar_option" onclick="changeContent('buyTicket', this)">
                     <i class="ti-ticket sidebar_icon"></i>
                     Mua vé
                     </div>
                    <div class="sidebar_option" onclick="changeContent('myhistory', this)">
                     <i class="ti-location-arrow sidebar_icon"></i>
                     Chuyến đi của tôi
                     </div>
                    <div class="sidebar_option" onclick="changeContent('instruction', this)">
                     <i class="ti-info sidebar_icon"></i>
                     Hướng dẫn sử dụng
                     </div>
                 </div>
                 
             </div>
            
            <!--begin homePage-->

            <div class="content_common homePage">
                <div class="homePage_border">
                    
                    <div class="homePage_search">
                            <div class="homePage_input">
                                <Autocomplete restrictions="vi"}>
                                <input type="text" class="homepage_inputBegin" placeholder="Vị trí của tôi"  >
                                 </Autocomplete>
                            
                            </div>

                            <div class="homePage_input" onclick="openOption()">

                                <ul class="homePage_input_li">
                                    <li>
                                        <input type="text" class="homepage_inputEnd" placeholder="Chọn trạm xe"  >
                                    </li>

                                    <ul class="homepage_inputEnd_option">
                                       
                                    </ul>


                                </ul>
                                
                                
                            </div>

                            <button class="homePage_search_btn" >Search</button>
                    </div>


                    
                    <div id="map">  
                        
                    </div>

                    <script async
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTZn_68NIUejfq6mqiZ6qFmQow4li5BEo&libraries=places&callback=initMap">
                        defer // đây ạ
                    </script>

                </div>
                
                   
            </div>
            <!--end homePage-->




            <!-- begin infor -->
            <div class="content_common infor">
                <h1 class="header_common infor_title">Thông tin cá nhân</h1>

                <div class="commom_css infor_border">

                    <ul class="infor_list">
                        <li class="infor_list_content">
                            <label for="" class="infor_list_namelabel list_label">Họ và tên:</label>
                            <p class="infor_list_userName"></p>
                        </li>
                        <li class="infor_list_content">
                            <label for="" class="infor_list_phonelabel list_label">Số điện thoại:</label>
                            <p class="infor_list_phone"></p>
                        </li></p>
                        </li>
                        <li class="infor_list_content">
                            <label for="" class="infor_list_maillabel list_label">Email:</label>
                            <p class="infor_list_mail"></p>
                        </li></p>
                        </li>
                        <li>
                            <label for="" class="infor_list_indentifylabel list_label">CMND/CCCD:</label>
                            <p class="infor_list_identify"></p>
                        </li></p>
                        </li>
                        <li class="infor_list_content">
                            <label for="" class="infor_list_addresslabel list_label">Địa chỉ:</label>
                            <p class="infor_list_address"></p>
                        </li></p>
                        </li>
                       <button class="updateInfor_btn btn_css" onclick="openUpdateInfor()">Cập nhật thông tin</button>
                    </ul>



                </div>
                
            </div>
            <!-- end infor -->



            <!-- begin wallet -->
            <div class="content_common mywallet">
                <h1 class="header_common wallet_title">
                    Ví của tôi
                </h1>
                
                <div class="commom_css wallet_border">
                    
`                   <div class="wallet_border_content">
                        <ul class="wallet_contentList">
                            <li class="wallet_LiContent">
                                <img src="./assset/img/money.jpg" alt="" class="wallet_img">

                                <div class="wallet_LiContent1">
                                    <div class="wallet_LiContent1_container">
                                        <h2 class="money">Số tiền</h2>
                                        <p class="value">0 VND</p>
                                    </div>
                                </div>
                            </li>

                            <li class="wallet_LiContent">
                                <img src="./assset/img/pushMoney.png" alt="" class="wallet_img">

                                <div class="wallet_LiContent1">
                                    <div class="wallet_LiContent1_container">


                                        <h2>Nạp tiền</h2>
                                    </div>
                                </div>    
                            </li>
                            
                        </ul>

                        <a class="buyticketHistory" >
                            Giao dịch
                        </a>
                    </div>
                    
                    
                </div>
            </div>
            <!-- end wallet -->

            <!-- begin buy ticket -->
            <div class="content_common buyTicket">
                <h1 class="header_common buyTicket_title">
                    Mua vé
                </h1>
                
                <div class="commom_css buyTicket_border">
                    <ul class="buyTicket_list">
                        <li class="buyTicket_li">
                            <h3 class="">Dự án:</h3>
                            <p class="">BikeShare - SANSLAB.</p>
                            <p class="">(Viện Điện Tử Viễn Thông - Đại học Bách Khoa Hà Nội)</p>

                        </li>

                        <li class="buyTicket_li">
                            <h3 class="">Loại vé:</h3>
                            <p class="">Giá tiền được tính theo thời lượng sử dụng dịch vụ của khách hàng.</p>
                        </li>
                        <li class="buyTicket_li">
                            <h3 class="">Giá vé:</h3>
                            <p class="">10,000 VND/giờ</p>
                        </li>
                        <li class="buyTicket_li">
                            <h3 class="">Hiệu lực:</h3>
                            <p class="">Thời lượng tính tiền tính từ thời gian bạn xác nhận mua vé đến khi trả xe về đúng trạm và kết thúc chuyến đi.</p>
                        </li>
                    </ul>

                    <box class="buyTicket_cf">
                        <img src="./assset/img/img-buyTicket.webp" alt="" class="buyTicket_logo">
                        <div class="buyTicket_cf_btn_border">
                            <button class="buyTicket_cf_btn btn_css">Xác nhận mua vé</button>
                        </div>
                        <p class="buyTicket_history_link" onclick="openBuyTicketHistory()">Lịch sử giao dịch.</p>
                    </box>
                    
                </div>
            </div>
            <!-- end buy ticket -->
            
            <!-- begin history -->
            <div class="content_common myhistory">
                <h2 class="header_common">Lịch sử đường đi</h2>
                <div class="commom_css">
                    <div class="userInfo"></div>
                    
                    <table border="1" class="historyPath_table table_css">
                       
                        
                        
                    </table>
                </div>
                
            </div>
            <!-- begin history -->

            <!-- instruction -->
            <div class="content_common instruction">
                <h1 class="header_common instruction_title">
                    Hướng dẫn sử dụng dịch vụ
                </h1>
                
                <div class="commom_css instruction_border">
                    
                    <ul class="instruction_list">
                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Bạn cần đăng kí tài khoản trên webside hoặc App của bikeShare, nạp tiền vào tài khoản và đăng kí vé để sử dụng dịch vụ.</p>
                        </li>

                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Bắt đầu sử dụng, bạn có thể lấy xe từ trạm bất kì, tận hưởng chuyến đi của bạn và trả xe về trạm xe gần bạn nhất.</p>
                        </li>
                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Quét mã QA trên xe thông qua ứng dụng của điện thoại để mở khóa xe và bắt đầu chuyến đi.</p>
                        </li>
                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Đỗ xe về trạm gần bạn nhất và xác nhận trả xe trên ứng dụng hoặc webside của bikeShare để kết thúc chuyến đi.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <!-- thành phần con của các mục -->

        <!-- begin update user's information -->
        <div class="update_infor">
            <div class="updata_infor_border">

                <div class="UpdateInfor_close" onclick="closeUpdateInfor()">
                    <i class="ti-close"></i>
                </div>
    
                <header class="update_infor-header">
                    <i class="ti-arrow-circle-right"></i>
                    Cập nhật thông tin
                </header>
    
                <div class="update_infor-body">
    
                    <label for="" class="update_infor-label">CMDN/CCCD</label>
                    <input type="Full Name" class="update_infor-input updateIdentyfy" placeholder="CMDN/CCCD">
    
                    <label for="" class="update_infor-label">Email</label>
                    <input type="text" class="update_infor-input updateEmail" placeholder="Email">
                    
                    <label for="" class="update_infor-label">Số điện thoại</label>
                    <input type="Email/Phone" class="update_infor-input updatePhone" placeholder="Số điện thoại">
                    
                    <label for="" class="update_infor-label">Địa chỉ</label>
                    <input type="Email/Phone" class="update_infor-input updateAddress" placeholder="Địa chỉ">
                    

                    
                    <button class="cfUpdateInfor_btn btn_css" onclick="closeUpdateInfor()" >
                        Cập nhật
                        <i class="ti-check"></i>
                    </button>
                </div>
    
                
    
            </div>
        </div>
        <!-- end update user's information -->

        <!-- begin history contract -->
        <div class="buyTicket_history">
            <div class="buyTicket_history_border">

                <div class="buyTicket_history_close" onclick="closeBuyTicketHistory()">
                    <i class="ti-close"></i>
                </div>
    
                <header class="buyTicket_history_header">
                    <i class="ti-arrow-circle-right"></i>
                    Lịch sử giao dịch
                </header>
    
                <div class="buyTicket_history-body">
                    <div class="buyTicket_history_username"></div>
                    <table class="contract_table table_css">
                   
                    </table>
                </div>
    
                
    
            </div>
        </div>
        <!-- end history contract -->

    </div>
    
    <div class="logIn">
        <section>
            <!--Bắt Đầu Phần Hình Ảnh-->
            <div class="img-bg">
                <img src="./assset/img/istockphoto-618973378-170667a.jpg" alt="Hình Ảnh Minh Họa">
            </div>
            <!--Kết Thúc Phần Hình Ảnh-->
            <!--Bắt Đầu Phần Nội Dung-->
            <div class="noi-dung">
                <div class="form">
                    <h2>Trang Đăng Nhập</h2>
                    <form action="">
                        <div class="input-form">
                            <span>Tên Người Dùng</span>
                            <input type="text" name="" class="login_userName">
                        </div>
                        <div class="input-form">
                            <span>Mật Khẩu</span>
                            <input type="password" name="" class="login_password">
                        </div>
                        <!-- <div class="nho-dang-nhap">
                            <label><input type="checkbox" name=""> Nhớ Đăng Nhập</label>
                        </div> -->
                        <div class="input-form">
                            <input  value="Đăng Nhập" onclick="login()">
                        </div>
                        <!--  type="submit"-->
                        <div class="input-form">
                            <p>Bạn Chưa Có Tài Khoản? <p onclick="onclickRegister()">Đăng Ký</p></p>
                        </div>
                    </form>
                    <!-- <h3>Đăng Nhập Bằng Mạng Xã Hội</h3>
                    <ul class="icon-dang-nhap">
                        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    </ul> -->
                </div>
            </div>
            <!--Kết Thúc Phần Nội Dung-->
        </section>
    </div>


    <div class="register">
        <form action="" >
            <div class="register">
                <h1>Đăng ký</h1>
                <p>Vui lòng điền thông tin để đăng ký</p>
                <hr>
                    <label for="username"><b>Tên đăng nhập</b></label>
                    <input type="text" placeholder="Tên đăng nhập" name="username" class="username">
                    
                    <label for="username"><b>Họ và tên</b></label>
                    <input type="text" placeholder="Họ và tên" name="name" class="name">

                    <label for="password-repeat"><b>Gmail</b></label>
                    <input type="text"  class="userGmail" placeholder="Gmail">

                    <label for="password"><b>Mật khẩu</b></label>
                    <input type="password" placeholder="******" name="password" class="password">
                <hr>
                
                <p>Để tạo tài khoản vui lòng đồng ý với điều khoản của chúng tôi <a href="#">Terms & Privacy</a></p>
                <div  class="submit" onclick="register()">Đăng ký</div>
                <!-- type="submit" -->
            </div>
        </form>
    </div>
    <!-- footer -->
    <div class="footer">

    </div>


    <script src="./js/main.js"></script>

</body>
</html>