<html>

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BikeShare</title>
    <link rel="icon" type="image/x-icon" href="./assset/img/img-buyTicket.webp">
    <link rel="stylesheet" href="./assset/themify-icons/themify-icons.css" class="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assset/style/style.css">
    

</head>

<body>

    <div class="main">

        <header class="header">

            <div class="header_title">
                BIKESHARE
            </div>

            <div class="header_forUser">
                <button onclick="logoutFunc()">Đăng xuất</button>
                <!-- <a href="" class="user"><i class="ti-user"></i></a> -->
            </div>

        </header>
        

        <!--begin content-->
        <div class="content">

            <div class="sidebar open">
                
               <div class="sidebar_user">
                  <div class="boder">
                        <svg  viewBox="0 0 80 80" width="80" height="80">
                            <circle class="circle" cx="40" cy="40" r="38"/>
                            
                        </svg>
                        <p class="UserName">UserName</p>
                    </div>
                    
               </div>
               
               <div class="sidebar_option_list">
                <div class="sidebar_option js_homePage" onclick="changeContent('homePage', this)">Trang chủ</div>
                <div class="sidebar_option js_infor"><a href="./info">Thông tin cá nhân</a></div>
                <div class="sidebar_option js_myWallet"><a href="./wallet">Ví của tôi</a></div>
                <div class="sidebar_option js_buyTicket"><a href="./ticket">Mua vé</a></div>
                <div class="sidebar_option js_history"><a href="./history">Chuyến đi của tôi</a></div>
                <div class="sidebar_option js_instruction"><a href="./instruction">Hướng dẫn sử dụng</a></div>
             </div>
                
            </div>
            
            <!--begin homePage-->

            <div class="content_common homePage">
                <div class="homePage_border">
                    
                    <div class="homePage_search">
                            <div class="homePage_input">
                                <input type="text" class="homepage_inputBegin" placeholder="Vị trí của tôi">
                                 
                            
                            </div>

                            <div class="homePage_input" onclick="openOption()">

                                <ul class="homePage_input_li">
                                    <li>
                                        <input type="text" class="homepage_inputEnd" placeholder="Chọn trạm xe" >
                                    </li>

                                    <ul class="homepage_inputEnd_option">
                                        <li class="station_hust">Trạm bách khoa</li>
                                        <li class="station_ussh">Trạm Nhân Văn</li>
                                        <li class="station_ulish">Trạm Ngoại Ngữ</li>
                                    </ul>


                                </ul>
                                
                                
                            </div>

                            <button class="homePage_search_btn btn_css" onclick="closeOption()">Search</button>
                    </div>


                    
                    <div id="map">  
                        
                    </div>

                    <script async
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtdTWAUA78Q0bf5FaWF1o5ABbIvWkjXCE&callback=initMap">
                        defer
                    </script>

                    <!-- <div class="homePage_search">
                        <input type="text" class="homepage_inputSearch" placeholder="Tìm trạm xe">
                        <div class="homePage_iconSearch">
                            <i class="ti-search"></i>
                        </div>
                    </div> -->


                </div>
                
                   
            </div>
            <!--end homePage-->

        </div>
    </div>

    <script src="./js/main.js"></script>

</body>
</html>