<html>

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="./assset/img/img-buyTicket.webp">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bikeShare</title>
    <link rel="stylesheet" href="./assset/style/style.css">
    <link rel="stylesheet" href="./css/info.css">
    <link rel="stylesheet" href="./assset/themify-icons/themify-icons.css" class="">
</head>

<body>

    <div class="main">

        <header class="header">

            <div class="header_title">
                BIKESHARE
                
            </div>

            <div class="header_forUser">
                <button onclick="logoutFunc()">Đăng xuất</button>
                <!-- <a href="" class="user"><i class="ti-user"></i></a> -->
            </div>

        </header>
        

        <!--begin content-->
        <div class="content">

            <div class="sidebar open">
                
               <div class="sidebar_user">
                  <div class="boder">
                        <svg  viewBox="0 0 80 80" width="80" height="80">
                            <circle class="circle" cx="40" cy="40" r="38"/>
                            
                        </svg>
                        <div class="sidebar_UserName"></div>

                    </div>
                    
               </div>
               
               <div class="sidebar_option_list">
                <div class="sidebar_option js_homePage"><a href="./homepage">Trang chủ</a></div>
                <div class="sidebar_option js_infor"><a href="./info">Thông tin cá nhân</a></div>
                <div class="sidebar_option js_myWallet"><a href="./wallet">Ví của tôi</a></div>
                <div class="sidebar_option js_buyTicket"><a href="./ticket">Mua vé</a></div>
                <div class="sidebar_option js_history"><a href="./history">Chuyến đi của tôi</a></div>
                <div class="sidebar_option js_instruction"><a href="./instruction">Hướng dẫn sử dụng</a></div>
             </div>
                
            </div>

             <!--begin infor-->
             <div class="content_common infor">
                <h1 class="header_common infor_title">Thông tin cá nhân</h1>

                <div class="commom_css infor_border">

                    <ul class="infor_list">
                        <li class="infor_list_content">
                            <label for="" class="infor_list_namelabel list_label">Họ và tên:</label>
                            <p class="infor_list_userName"></p>
                        </li>
                        <li class="infor_list_content">
                            <label for="" class="infor_list_phonelabel list_label">Số điện thoại:</label>
                            <p class="infor_list_phone"></p>
                        </li></p>
                        </li>
                        <li class="infor_list_content">
                            <label for="" class="infor_list_maillabel list_label">Email:</label>
                            <p class="infor_list_mail"></p>
                        </li></p>
                        </li>
                        <li>
                            <label for="" class="infor_list_indentifylabel list_label">CMND/CCCD:</label>
                            <p class="infor_list_identify"></p>
                        </li></p>
                        </li>
                        <li class="infor_list_content">
                            <label for="" class="infor_list_addresslabel list_label">Địa chỉ:</label>
                            <p class="infor_list_address"></p>
                        </li></p>
                        </li>
                       <button class="updateInfor_btn btn_css" onclick="openUpdateInfor()">Cập nhật thông tin</button>
                    </ul>



                </div>
                
            </div>

            <!--end infor-->

            <div class="update_infor">
                <div class="updata_infor_border">

                    <div class="UpdateInfor_close" onclick="closeUpdateInfor()">
                        <i class="ti-close"></i>
                    </div>
        
                    <header class="update_infor-header">
                        <i class="ti-arrow-circle-right"></i>
                        Cập nhật thông tin
                    </header>
        
                    <div class="update_infor-body">
        
                        <label for="" class="update_infor-label">Họ và tên</label>
                        <input type="Full Name" class="update_infor-input" placeholder="Họ và tên">
        
                        <label for="" class="update_infor-label">Email</label>
                        <input type="text" class="update_infor-input" placeholder="Email">
                        
                        <label for="" class="update_infor-label">Số điện thoại</label>
                        <input type="Email/Phone" class="update_infor-input" placeholder="Số điện thoại">
                        
                        <label for="" class="update_infor-label">Địa chỉ</label>
                        <input type="Email/Phone" class="update_infor-input" placeholder="Địa chỉ">
                        

                        
                        <button class="updateInfor_btn btn_css">
                            Cập nhật
                            <i class="ti-check"></i>
                        </button>
                    </div>
        
                    
        
                </div>
            </div>
            
        </div>
    </div>

    <script src="./js/main.js"></script>

</body>
</html>