<html>

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="./assset/img/img-buyTicket.webp">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bikeShare</title>
    <link rel="stylesheet" href="./assset/style/style.css">
    <link rel="stylesheet" href="./assset/font/themify-icons/themify-icons.css" class="">
</head>

<body>

    <div class="main">

        <header class="header">

            <div class="header_title">
                BIKESHARE
                <div class="menu_in_header" onclick="changeSidebar()">
                    <i class="ti-menu-alt"></i>
                </div>
            </div>

            <div class="header_forUser">
                <button onclick="myFunction()">Đăng xuất</button>
                <!-- <a href="" class="user"><i class="ti-user"></i></a> -->
            </div>

        </header>
        

        <!--begin content-->
        <div class="content">

            <div class="sidebar open">
                
               <div class="sidebar_user">
                  <div class="boder">
                        <svg  viewBox="0 0 80 80" width="80" height="80">
                            <circle class="circle" cx="40" cy="40" r="38"/>
                            
                        </svg>
                        <p class="UserName">UserName</p>
                    </div>
                    
               </div>
               
               <div class="sidebar_option_list">
                   <div class="sidebar_option js_homePage"><a href="./homepage">Trang chủ</a></div>
                   <div class="sidebar_option js_infor"><a href="./info">Thông tin cá nhân</a></div>
                   <div class="sidebar_option js_myWallet"><a href="./wallet">Ví của tôi</a></div>
                   <div class="sidebar_option js_buyTicket"><a href="./ticket">Mua vé</a></div>
                   <div class="sidebar_option js_history"><a href="./history">Chuyến đi của tôi</a></div>
                   <div class="sidebar_option js_instruction"><a href="./instruction"></a>Hướng dẫn sử dụng</div>
                </div>
                
            </div>


            <!-- begin Instruction-->
            <div class="content_common instruction">
                <h1 class="header_common instruction_title">
                    Hướng dẫn sử dụng dịch vụ
                </h1>
                
                <div class="commom_css instruction_border">
                    
                    <ul class="instruction_list">
                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Bạn cần đăng kí tài khoản trên webside hoặc App của bikeShare, nạp tiền vào tài khoản và đăng kí vé để sử dụng dịch vụ.</p>
                        </li>

                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Bắt đầu sử dụng, bạn có thể lấy xe từ trạm bất kì, tận hưởng chuyến đi của bạn và trả xe về trạm xe gần bạn nhất.</p>
                        </li>
                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Quét mã QA trên xe thông qua ứng dụng của điện thoại để mở khóa xe và bắt đầu chuyến đi.</p>
                        </li>
                        <li class="instruction1">
                            <i class="ti-check-box"></i>
                            <p class="">Đỗ xe về trạm gần bạn nhất và xác nhận trả xe trên ứng dụng hoặc webside của bikeShare để kết thúc chuyến đi.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- end Instruction-->

            
        </div>
    </div>

    <script src="./js/main.js"></script>

</body>
</html>