<html>

<head>
    <link rel='stylesheet' href='./css/register.css' />
</head>

<body>
    <form action="" method="POST" onsubmit="return result()">
        <div class="register">
            <h1>Đăng ký</h1>
            <p>Vui lòng điền thông tin để đăng ký</p>
            <hr>
                <label for="username"><b>Tên đăng nhập</b></label>
                <input type="text" placeholder="Họ và tên" name="username" id="username">
                <label for="password"><b>Mật khẩu</b></label>
                <input type="password" placeholder="******" name="password" id="password">
                <label for="password-repeat"><b>Nhập lại mật khẩu</b></label>
                <input type="password" placeholder="******" name="password-repeat" id="password-repeat">
            <hr>
            <p><%= result %></p>
            <p>Để tạo tài khoản vui lòng đồng ý với điều khoản của chúng tôi <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="submit">Đăng ký</button>
        </div>
    </form>
</body>

</html>